@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .site-header {
  border-bottom: 2px solid #7e7e7e;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .site-header .site-header__left .header-logo {
  font-size: 24px;
  cursor: pointer;
}

header .site-header .site-header__left .header-logo a {
  text-decoration: none;
  color: #000;
}

header .site-header .site-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .site-header .site-header__right .header-menu {
  font-size: 18px;
}

header .site-header .site-header__right .header-menu__list {
  display: none;
}

header .site-header .site-header__right .header-hamburger {
  height: 33px;
  cursor: pointer;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .site-header .site-header__right .header-hamburger span {
  width: 30px;
  height: 2px;
  color: #000;
  background-color: #000;
}

header .site-header .site-header__right .header-hamburger.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .site-header .site-header__right .header-hamburger.open :nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .site-header .site-header__right .header-hamburger.open :nth-child(2) {
  display: none;
}

header .site-header .site-header__right .header-hamburger.open :nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.backdrop {
  display: none;
}

.backdrop.open {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: block;
}

.backdrop.open ul {
  background-color: #ffffff;
  padding: 30px 30px 0;
  position: fixed;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backdrop.open ul li {
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0;
}

.backdrop.open ul li a {
  color: #000;
}

@media (min-width: 1200px) {
  header .site-header {
    max-height: 66px !important;
  }
  header .site-header .site-header__right .header-menu {
    display: none;
  }
  header .site-header .site-header__right .header-menu__list {
    display: block;
  }
  header .site-header .site-header__right .header-menu__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .site-header .site-header__right .header-menu__list ul li {
    margin-left: 15px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  header .site-header .site-header__right .header-menu__list ul li:hover {
    border-bottom: 1px solid #000;
  }
  header .site-header .site-header__right .header-menu__list ul li:last-child a {
    color: #000;
  }
  header .site-header .site-header__right .header-menu__list ul li:last-child:hover {
    border-bottom: 1px solid transparent;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  header .site-header .site-header__right .header-menu__list ul .basket {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .site-header .site-header__right .header-hamburger {
    display: none;
  }
}

.section-header {
  color: #7e7e7e;
  font-size: 32px;
  margin-bottom: 30px;
}

.section-paragraphs {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #458aff;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 25px;
}

.button:hover {
  background-color: #126aff;
}

.hero-banner__img,
.news-section__image {
  width: 100%;
  height: auto;
}

.products-section {
  padding: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-section .section-header {
  text-align: center;
}

.products-section .section-paragraphs {
  text-align: center;
}

.news-section .news-section__description {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news-section .news-section__description .section-header {
  padding-right: 50px;
}

@media (min-width: 1200px) {
  .button {
    border-radius: 5px;
  }
  .products-section {
    padding: 100px;
  }
  .news-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .news-section .news-section__description {
    padding: 0 150px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news-section .news-section__description .section-header {
    padding-right: 20px;
  }
  .news-section .news-section__img {
    min-width: 50%;
  }
}

.site-footer {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer .footer-left .footer-left__logo {
  font-size: 24px;
  margin-bottom: 30px;
}

.site-footer .footer-left .footer-left__list {
  margin-bottom: 30px;
}

.site-footer .footer-left .footer-left__list ul li {
  list-style: none;
  margin-bottom: 30px;
}

.site-footer .footer-right .footer-right__socials {
  margin-bottom: 30px;
}

.site-footer .footer-right .footer-right__socials svg {
  color: #7e7e7e;
  margin-right: 10px;
}

.site-footer .footer-right .footer-right__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer .footer-right .footer-right__privacy span {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .site-footer {
    padding: 100px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-footer .footer-left .footer-left__logo {
    margin: 0 50px;
    cursor: pointer;
  }
  .site-footer .footer-left .footer-left__list ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .site-footer .footer-left .footer-left__list ul li:hover {
    border-bottom: 1px solid black;
  }
  .site-footer .footer-left .footer-left__list ul li:last-child {
    margin-bottom: 0;
  }
  .site-footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
  }
  .site-footer .footer-right .footer-right__socials svg {
    margin: 0 0 0 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .site-footer .footer-right .footer-right__socials svg:hover {
    color: #656565;
  }
}

.basket {
  padding: 50px 20px;
  background-color: #fafafa;
}

.basket .basket-wrapper h1 {
  color: #7e7e7e;
  font-size: 32px;
  margin-bottom: 15px;
}

.basket .basket-wrapper p {
  color: #7e7e7e;
  line-height: 1.5;
  margin-bottom: 20px;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile {
  padding: 15px 0;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item h2 {
  color: #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  font-size: 24px;
  padding-bottom: 10px;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info {
  margin: 10px 0;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section div:first-child {
  font-weight: bold;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section div svg {
  width: 20px;
  height: 20px;
  color: #73a6fe;
  cursor: pointer;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section-quantity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section-quantity div:nth-child(2) {
  width: 65px;
  border: 1px solid #73a6fe;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket .basket-wrapper .basket-mobile .basket-table-mobile .basket-table-mobile__item .basket-table-mobile__info .basket-table-mobile__section-quantity div:nth-child(2) svg {
  width: 14px;
  height: 14px;
}

.basket .basket-wrapper .basket-desktop {
  display: none;
}

.basket .basket-wrapper .basket-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.basket .basket-wrapper .basket-checkout div {
  width: 100%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket .basket-wrapper .basket-checkout .basket-subtotal span,
.basket .basket-wrapper .basket-checkout .basket-vat span {
  color: #7e7e7e;
}

.basket .basket-wrapper .basket-checkout .basket-total-cost {
  font-weight: bold;
}

.basket .basket-wrapper .basket-checkout .button {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .basket {
    height: calc(100vh - 68px);
    background-color: #fafafa;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basket .basket-wrapper {
    width: 50%;
  }
  .basket .basket-wrapper .basket-mobile {
    display: none;
  }
  .basket .basket-wrapper .basket-desktop {
    display: block;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table {
    width: 100%;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody {
    width: 100%;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr:first-child {
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr:first-child td {
    border-bottom: 1px solid #7e7e7e;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr td {
    padding: 20px 0;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr td svg {
    width: 20px;
    height: 20px;
    color: #73a6fe;
    cursor: pointer;
    float: right;
    display: block;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr td span {
    display: block;
  }
  .basket .basket-wrapper .basket-desktop .basket-box table tbody tr td div {
    width: 65px;
    border: 1px solid #73a6fe;
    border-radius: 5px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=app.css.map */