.site-footer {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;

    .footer-left {
        .footer-left__logo {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .footer-left__list {
            margin-bottom: 30px;

            ul {
                li {
                    list-style: none;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .footer-right {
        .footer-right__socials {
            margin-bottom: 30px;

            svg {
                color: $color-gray;
                margin-right: 10px;
            }
        }

        .footer-right__privacy {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 10px;
            }
        }
    }
}


@media(min-width: 1200px) {
    .site-footer {
        padding: 100px 20px;
        flex-direction: row;
        justify-content: space-between;

        .footer-left {
            display: flex;
            align-items: center;

            .footer-left__logo {
                margin: 0 50px;
                cursor: pointer;
            }

            .footer-left__list {
                ul {
                    li {
                        width: fit-content;
                        cursor: pointer;
                        border: 1px solid transparent;

                        &:hover {
                            border-bottom: 1px solid black;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            text-align: right;

            .footer-right__socials {
                svg {
                    margin: 0 0 0 20px;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;

                    &:hover {
                        color: $color-gray-darken;
                    }
                }
            }
        }
    }
}