header {
    .site-header {
        border-bottom: 2px solid $color-gray;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-header__left {
            .header-logo {
                font-size: 24px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: $color-black;
                }
            }
        }

        .site-header__right {
            display: flex;
            align-items: center;

            .header-menu {
                font-size: 18px;
            }

            .header-menu__list {
                display: none;
            }

            .header-hamburger {
                height: 33px;
                cursor: pointer;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                span {
                    width: 30px;
                    height: 2px;
                    color: $color-black;
                    background-color: $color-black;
                }

                &.open {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    :nth-child(1) {
                        transform: rotate(-45deg);
                    }

                    :nth-child(2) {
                        display: none;
                    }

                    :nth-child(3) {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.backdrop {
    display: none;

    &.open {
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        display: block;

        ul {
            background-color: $color-white;
            padding: 30px 30px 0;
            position: fixed;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;

            li {
                cursor: pointer;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 30px;
                padding: 0;

                a {
                    color: $color-black;
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    header {
        .site-header {
            max-height: 66px !important;

            .site-header__right {
                .header-menu {
                    display: none;
                }

                .header-menu__list {
                    display: block;

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            margin-left: 15px;
                            border: 1px solid transparent;
                            cursor: pointer;

                            &:hover {
                                border-bottom: 1px solid $color-black;
                            }

                            &:last-child {
                                a {
                                    color: $color-black;
                                }

                                &:hover {
                                    border-bottom: 1px solid transparent;
                                    transform: scale(1.3);
                                    transition: transform 0.3s ease-in-out;
                                }
                            }
                        }

                        .basket {
                            height: fit-content;
                        }
                    }
                }

                .header-hamburger {
                    display: none;
                }
            }
        }
    }
}